@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+HU:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    background-color: rgba(255, 183, 207, 0.788);
    background-image: url(./images/background.png);
    background-repeat: repeat;
    background-blend-mode:darken;
}

.header-line {
    background-color: rgba(255, 183, 207, 0.697);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    box-shadow: 0 0 10px #333;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.ri-shopping-cart-line {
    position: relative;
    right: 303px;
    font-size: 35px;
    transition: .4s;
    padding: 17px;
}
.css-counter {
    background-color: rgba(255, 166, 0, 0.626);
    border-radius: 35px;
    font-size: 15px;
    padding: 0 6px;
    position: relative;
    left: 132px;
    bottom: 24px;
}
.search {
    position: absolute;
    left: 1150px;   
    background-color: white;
    padding: 7px;
    border: none;
    outline: none;
    direction: rtl;
}
.search::placeholder {
    position: relative;
    right: 10px;
}
.do-search {
    position: absolute;
    right: 380px;
    top: 37px;
    font-size: 16px;
    border: 1px solid #333;
    background-color: rgba(0, 0, 139, 0.726);
    color: white;
    width: 50px;
    height: 30px;
    border-radius: 35px;
    cursor: pointer;
}
.search1 {
    display: none;
}
.container {
    position: fixed;
    right: 0;
    top: 107px;
    background-color: rgba(63, 60, 61, 0.667);
    width: 250px;
    height: 100%; 
    z-index: 1;
    animation: container 0.4s ease;
}

.hide {
    animation: closing 0.4s ease forwards;
}
.logo-image{
    position: relative;
    right: 150px;
    height: 70px;
    width:70px;
    cursor: pointer;
}
.lists {
    font-family: "Roboto Condensed", sans-serif;
    margin-right: 3.5em;
    font-size: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    position: relative;
    top: 20px;
}
button {
    background: transparent;
    border: transparent;
}
.css-list {
    font-size: 1.8rem;
    padding: 0 10px;
    transition: .4s;
}
.css-list, .user2, .material-icons {
    position: relative;
    right: 20px;
}
.css-list:hover, .user2:hover, .material-icons:hover, .ri-shopping-cart-line:hover {
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.36);
    border-radius: 35px;
}
.user2 {
    font-size: 25px;
    padding: 3px;
    transition: .4s;
    position: relative;
    left: 1px;
}
.material-icons {
    position: relative;
    top: 1px;
    right: 7px;
    padding: 3px;
    transition: .4s;
}
.ri-close-large-fill {
    color: white;
    position: relative;
    left: 20px;
    font-size: 23px;
    cursor: pointer;
    transition: 1s;
    max-width: fit-content;
    padding: 3px;
}
.ri-close-large-fill:hover {
    transform: scale(1.1);
    background-color: rgba(240, 248, 255, 0.36);
    border-radius: 35px;
    
} 
.above {
    display: flex;
    gap: 10px;
    margin-right: 15px;
}
.lists a {
    color: rgb(54, 53, 53);
    text-decoration: none;
    transition: .4s;
    font-weight: 400;
    color: white;
}
.lists .line {
    border-bottom: 1px solid white;
}
.lists a:hover{
    background-color: rgba(240, 248, 255, 0.441);
    padding: 10px;
    color: #333;
}

/* slider images */

.board{
    background-color: rgba(255, 183, 207, 0.674);
    width: 90%;
    height: 680px;
    position: relative;
    top: 150px;
    left: 80px;
    border-radius: 35px;
    box-shadow: 0 0 10px #333;
}
.board2 {
    background-color: rgba(255, 183, 207, 0.674);
    width: 50%;
    height: 600px;
    position: relative;
    top: 300px;
    left: 350px;
    border-radius: 35px;
    box-shadow: 0 0 10px #333;
    overflow: hidden;
}
.advertisement img {
    width: 800px;
    height: 600px;
    position: relative;
    border-radius: 35px;
    opacity: 7;
}
.img11, .img22, .img33 {
    animation: fade 9s infinite;
}
.img11 {
    animation-delay: 0s;
    position: relative;
    left: 1px;
}
.img22 {
    animation-delay: 3s;
    position: relative;
    bottom: 604px;
    left: 1px;
}
.img33 {
    animation-delay: 6s;
    position: relative;
    bottom: 1208px;
    left: 1px;
}

.small-logo {
    position: fixed;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 0 15px 15px 0;
    background-color: rgba(255, 255, 255, 0.622);
    padding: 3px;
}


.slider img {
    width: 350px;
    height: auto;
}
.slider p {
    font-size: 2.5rem;
    text-align: center;
}
.slider .img1 {
    position: absolute;
    left: 110px;
    top: 150px;
}
.slider .p1 {
    position: absolute;
    top: 250px;
    left: 500px;
}

.slider .img2 {
    position: absolute;
    top: 150px;
    left: 900px;
}

.slider .p2 {
    font-size: 3rem;
    position: absolute;
    top: 240px;
    left: 140px;
}
.slider {
    transition: opacity 1s linear;
    overflow: hidden;
}
.en {
    animation: show1 8s infinite;
}
.ar {
    animation: show2 8s infinite;
}
.products {
    display: flex;
    justify-content: space-evenly;
   position: relative;
   top: 200px;
}
.product1, .product2, .product3, .product4, .product5 {
    border: 2px solid rgb(255, 183, 207);
    width: 200px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 0 10px #333;
    overflow: hidden;
    transition: .6s;
}
.product1:hover, .product2:hover, .product3:hover, .product4:hover, .product5:hover {
    background-color: rgba(240, 248, 255, 0.233);
    cursor: pointer;
    transform: scale(1.1);
}
.product1 img, .product2 img, .product3 img, .product4 img, .product5 img {
    width: 200px;
    height: 190px;
    position: relative;
    left: 0px;
}
.add {
    border: 1px solid #33333396;
    border-radius: 35px;
    width: 160px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.174);
    transition: .4s;
    position: relative;
    top: 40px;
    left: 20px;
}
.add:hover {
    background-color: rgba(240, 248, 255, 0.542);
    transform: scale(1);
}
.text, .price {
    position: relative;
    top: 20px;
    font-size: 20px;
    text-align: center;
}

.comments {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 440px;
    left: 0;
}
.person1, .person2, .person3 {
    border: 1px solid #333;
    width: 340px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 10px #333;
    text-align: center;
    font-size: 20px;
    background-color: rgba(255, 183, 207, 0.482);
}
.person1 img, .person2 img, .person3 img {
    width: 100px;
    height: 100px;
    position: relative;
    left: 0;
    bottom:40px;
}
.person1 .picture, .person2 .picture, .person3 .picture {
    border-radius: 50%;
}
.person1 .rating, .person2 .rating, .person3 .rating {
    position: relative;
    bottom: 60px;
    left: 0px;
}
.person1 p, .person2 p, .person3 p {
    position: relative;
    bottom:80px;
    font-weight: 800;
}
hr {
    position: relative;
    top: 600px;
}
.back-to-top {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    position: relative;
    top: 650px;
    left: 670px;
    transition: 0.2s;
}
.back-to-top:hover {
    color: rgb(40, 101, 234);
}
.back-to-top:hover .ri-arrow-up-long-line{
    display: inline-block;
    animation: moving 0.2s 1 linear;
}

.social-media a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    background-color: rgba(255, 247, 250, 0.217);
    padding: 10px;
    border-radius: 10px;
    transition: 0.4s;
    box-shadow: 0 0 1px #333;
}
.social-media {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 2580px;
    left: 640px;
}
.ps {
    position: absolute;
    top: 2530px;
    left: 700px;
    font-size: 25px;
}
.social-media a:hover {
    background-color: rgba(240, 248, 255, 0.51);
}
.copyright {
    position: absolute;
    top: 2670px;
    left: 670px;
}

.show {
    padding: 50px;
    height: 450px;
    width: 350px;
    border-radius: 25px;
    background-color: #3333331e;
    backdrop-filter: blur(39px);
    position: fixed;
    left: 570px;
    top: 200px;
    border: 1px solid #333;
    box-shadow: 0 0 15px #333;
}
.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}
.user1, .ri-lock-line {
    font-size: 17px;
    position: relative;
    top: 22px;
    left: 195px;
}
.username, .password {
    display: flex;
    flex-direction: column;
}
input::placeholder {
    position: relative;
    left: 10px;
}
input {
    background-color: transparent;
    border: 1px solid #33333375;
    border-radius: 20px;
    padding: 5px;
    width: 200px;
    position: relative;
    left: 25px;
}
.login h3 {
    font-size: 30px;
    position: relative;
    left: 60px;
}
.ri-close-line {
    font-size: 30px;
    position: relative;
    bottom: 30px;
    right: 30px;
}
.ri-close-line:hover {
    cursor: pointer;
}
.submit, .reset {
    font-size: 20px;
    margin-top: 10px;
    border: 1px solid #33333372;
    border-radius: 35px;
    width: 100px;
    position: relative;
    left: 75px;
}
.submit:hover, .reset:hover {
    background-color: rgba(0, 0, 0, 0.133);
    cursor: pointer;
}
.forget {
    text-decoration: underline;
    color: darkblue;
    cursor: pointer;
    position: relative;
    left: 75px;
}







/* keyframes */

@keyframes container {
    0% {
        transform: translateX(250px);
    }
    100% {
        transform: translateX(-1px);
    }
}

@keyframes closing {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes show1{
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes show2{
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes moving {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(-4px);
        opacity: 1;
    }
}